[Desktop Entry]
Name=Conky
GenericName=System Monitor
Comment=Run conky with your .conky.conf at startup
Exec=conky -c ~/.conkyrc --daemonize --pause=5 
Terminal=false
Type=Application
StartupNotify=false