[Desktop Entry]
Type=Application
Exec=sh -c "\$HOME/scripts/startup.bash >> \$HOME/scripts/log.txt 2>&1"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Run Custom Startup Script
Name=Run Custom Startup Script
Comment[en_US]=Runs our custom startup.bash script at startup
Comment=Runs our custom startup.bash script at startup
