[Desktop Entry]
Type=Application
Exec=/home/nyancat/scripts/startup.bash >> /home/nyancat/scripts/log.txt 2>&1
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Run Custom Startup Script
Name=Run Custom Startup Script
Comment[en_US]=Runs our custom startup.bash script at startup
Comment=Runs our custom startup.bash script at startup
